doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Dashboard
    link(rel="stylesheet" href="./normalize.css")
    link(rel="stylesheet" href="./styles.css")
  body
    .wrapper
      .container
        aside.dashboard-aside
          .logo
            img.logo__icon(src="../images/settings.png" alt="settings")
            span.logo__text Dashboard
            span.logo__version v.01
          ul.menu
            li(class="menu__item menu__item_mdash")
              img.menu__icon(src='../images/key.png' alt='key')
              span.menu__text Dashboard
            li(class="menu__item menu__item_m")
              img.menu__icon(src='../images/3dsquare.png' alt='3dsquare')
              span.menu__text Product
              img.menu__chevron(src='../images/chevron.png' alt='chevron')
            li(class="menu__item menu__item_active")
              img.menu__icon(src='../images/user.png' alt='user')
              span(class="menu__text menu__text_white") Customers
              img(class="menu__chevron menu__chevron_ml3" src='../images/chevronw.png' alt='chevron')
            li(class="menu__item menu__item_m")
              img.menu__icon(src='../images/wallet.png' alt='wallet')
              span.menu__text Income
              img.menu__chevron(src='../images/chevron.png' alt='chevron')
            li(class="menu__item menu__item_m")
              img.menu__icon(src='../images/discount.png' alt='discount')
              span.menu__text Promote
              img(class="menu__chevron menu__chevron_ml" src='../images/chevron.png' alt='chevron')
            li(class="menu__item menu__item_m")
              img.menu__icon(src='../images/message.png' alt='message')
              span.menu__text Help
              img(class="menu__chevron menu__chevron_ml2" src='../images/chevron.png' alt='chevron')
          .manager-info
            .manager-info__left
              img.manager-info__photo(src='../images/evanophoto.png' alt='evanophoto')
            .manager-info__right
              .manager-info__text Evano
              .manager-info__text2 Project Manager
        main.dashboard-main
          span(class="greeting-text" id="element1") Hello Evano 👋🏼,
          section.customers
            .allcustomers
              .allcustomers__container
                span.allcustomers__text All Customers
                span.allcustomers__activemembers Active Members
              .allcustomers__container2
                img.allcustomers__search(src="../images/search.png" alt="search")
                input.allcustomers__input(type="text" placeholder="Search") 
            table.table-main
              thead.table-main__thead 
                tr.table-main__tr
                  th(class="table-main__th table-main__th_name") Customer Name 
                  th(class="table-main__th table-main__th_company") Company
                  th(class="table-main__th table-main__th_phone") Phone Number
                  th(class="table-main__th table-main__th_email") Email
                  th(class="table-main__th table-main__th_country") Country
                  th(class="table-main__th table-main__th_status") Status
              tbody.table-main__tbody
                tr.table-main__tr
                  td(class="table-main__td table-main__td_name") Jane Cooper
                  td(class="table-main__td table-main__td_company") Microsoft
                  td(class="table-main__td table-main__td_phone") (225) 555-0118
                  td(class="table-main__td table-main__td_email") jane@microsoft.com
                  td(class="table-main__td table-main__td_country") United States
                  td(class="table-main__td table-main__td_pr")
                    span.table-main__status Active
                tr.table-main__tr
                  td(class="table-main__td table-main__td_name") Floyd Miles
                  td(class="table-main__td table-main__td_company") Yahoo
                  td(class="table-main__td table-main__td_phone") (205) 555-0100
                  td(class="table-main__td table-main__td_email") floyd@yahoo.com
                  td(class="table-main__td table-main__td_country") Kiribati
                  td(class="table-main__td table-main__td_pr")
                    span(class="table-main__status table-main__status_inactive") Inactive
                tr.table-main__tr
                  td(class="table-main__td table-main__td_name") Ronald Richards
                  td(class="table-main__td table-main__td_company") Adobe
                  td(class="table-main__td table-main__td_phone") (302) 555-0107
                  td(class="table-main__td table-main__td_email") ronald@adobe.com
                  td(class="table-main__td table-main__td_country") Israel
                  td(class="table-main__td table-main__td_pr")
                   span(class="table-main__status table-main__status_inactive") Inactive
                tr.table-main__tr
                  td(class="table-main__td table-main__td_name") Marvin McKinney
                  td(class="table-main__td table-main__td_company") Tesla
                  td(class="table-main__td table-main__td_phone") (252) 555-0126
                  td(class="table-main__td table-main__td_email") marvin@tesla.com
                  td(class="table-main__td table-main__td_country") Iran
                  td(class="table-main__td table-main__td_pr")
                    span.table-main__status Active
                tr.table-main__tr
                  td(class="table-main__td table-main__td_name") Jerome Bell
                  td(class="table-main__td table-main__td_company") Google
                  td(class="table-main__td table-main__td_phone") (629) 555-0129
                  td(class="table-main__td table-main__td_email") jerome@google.com
                  td(class="table-main__td table-main__td_country") Réunion
                  td(class="table-main__td table-main__td_pr")
                    span.table-main__status Active
                tr.table-main__tr
                  td(class="table-main__td table-main__td_name") Kathryn Murphy
                  td(class="table-main__td table-main__td_company") Microsoft
                  td(class="table-main__td table-main__td_phone") (406) 555-0120
                  td(class="table-main__td table-main__td_email") kathryn@microsoft.com
                  td(class="table-main__td table-main__td_country") Curaçao
                  td(class="table-main__td table-main__td_pr")
                    span.table-main__status Active
                tr.table-main__tr
                  td(class="table-main__td table-main__td_name") Jacob Jones
                  td(class="table-main__td table-main__td_company") Yahoo
                  td(class="table-main__td table-main__td_phone") (208) 555-0112
                  td(class="table-main__td table-main__td_email") jacob@yahoo.com
                  td(class="table-main__td table-main__td_country") Brazil
                  td(class="table-main__td table-main__td_pr")
                    span.table-main__status Active
                tr.table-main__tr
                  td(class="table-main__td table-main__td_name") Kristin Watson
                  td(class="table-main__td table-main__td_company") Facebook
                  td(class="table-main__td table-main__td_phone") (704) 555-0127
                  td(class="table-main__td table-main__td_email") kristin@facebook.com
                  td(class="table-main__td table-main__td_country") Åland Islands
                  td(class="table-main__td table-main__td_pr")
                    span(class="table-main__status table-main__status_inactive") Inactive
            .pagination       
              span.pagination__text Showing data 1 to 8 of  256K entries      
              .pagination__view 
                a.pagination__a
                 span.pagination__span &lsaquo;
                a(class="pagination__a pagination__a_active")
                 span(class="pagination__span pagination__span_active") 1
                a.pagination__a
                 span.pagination__span 2
                a.pagination__a
                 span.pagination__span 3
                a.pagination__a
                 span.pagination__span 4
                a(class="pagination__a pagination__a_nobg")
                 span.pagination__span ...
                a.pagination__a
                 span.pagination__span 40
                a.pagination__a
                 span.pagination__span  &rsaquo;
  script(src='./index.js')
